<!DOCTYPE html>
<html>
<head>
    <title>Mate in 3-4 Puzzles</title>
    <link rel="stylesheet" href="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h2>Solve the Puzzle: Mate in 3-4</h2>
    <div id="myBoard" style="width: 400px"></div>
    <p id="status"></p>
    <button onclick="location.reload()">Next Puzzle</button>

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://unpkg.com/@chrisoakman/chessboardjs@1.0.0/dist/chessboard-1.0.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chess.js/0.10.3/chess.min.js"></script>
    <script src="/static/js/script.js"></script>
</body>
</html>
